@import '@/pages/secret/styles/constants';

.wrapperDiv {
  position: relative;
  width: 25px;
  height: 25px;
}

.innerDivElement {
  position: absolute;
  background-color: $BUTTON_ICON;
  width: 4px;
  height: 4px;
}

.innerDivWrapper {
  position: absolute;
  top: 6px;
  right: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 8px;
  border: 1px solid $BUTTON_ICON;
}

.innerDiv1 {
  top: 0;
  right: 0;
}

.innerDiv3 {
  top: 16px;
  right: 16px;
}

.innerDiv4 {
  top: 20px;
  right: 2px;
}

.line {
  position: absolute;
  width: 20px;
  height: 1px;
  top: 10px;
  right: 0px;
  background-color: $BUTTON_ICON;
  border: 0;
}

.line1 {
  transform: rotate(-45deg);
}

.line2 {
  transform: rotate(60deg);
  width: 10px;
  top: 16px;
  right: 2px;
}
