@import '@/pages/secret/styles/constants';

.buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  z-index: $LEVEL_UI;
  top: 10px;
  left: 10px;
}

.leftButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  box-shadow: 0 0 10px 10px $BOX_SHADOW;
}

.topButton {
  background-color: $BG_UI;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  & svg {
    width: 25px;
    height: 25px;
    fill: $BUTTON_ICON;
  }
}

.goBackButton {
  width: 120px;
  padding-left: 10px;
  justify-content: flex-start;
  border-right: 3px solid $BG_BLACK;
}

.homeButton {
  width: 150px;
}

.infoButton {
  background-color: $BG_UI_DIMMED;
  width: 40px;
  height: 40px;
  margin: 0 10px;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $BUTTON_ICON_INNER;
    width: 30px;
    height: 30px;
    border: 1px solid $BUTTON_ICON_DIMMED;
    border-radius: 20px;

    svg {
      width: 20px;
      height: 20px;
      transform: rotate(-10deg);
    }
  }
}

.fileIcon {
  border-right: 3px solid $BG_BLACK;
}
