@use '@/styles/constants/colors';
@use '@/styles/constants/sizes';
@use '@/styles/constants/levels';
@use '@/styles/responsive';

.elementWrapper {
  position: absolute;
  z-index: levels.$SUB_BRANCH;
  left: 15px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projectLinkInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 120px;
  height: 37.5px;

  &:hover {
    cursor: pointer;
  }

  @include responsive.after(ML) {
    width: 160px;
    height: 50px;
  }
}

.projectBranch {
  position: relative;
  width: 100px;
  height: 30px;

  span {
    position: absolute;
    left: 15px;
    top: -5px;
    color: colors.$GRAYC;
    transition: color 0.2s ease-in;
    user-select: none;
    font-size: sizes.$FONT_MS;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: colors.$GRAYC;
    transition: background-color 0.2s ease-in;
    width: 70px;
    height: 5px;
    top: 12.5px;
    left: 14px;
  }

  &:after {
    content: '';
    position: absolute;
    border: 5px solid colors.$GRAYC;
    transition: border-color 0.2s ease-in;
    background-color: colors.$WHITE;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: -15px;
  }

  @include responsive.after(ML) {
    width: 150px;

    span {
      left: 40px;
      font-size: sizes.$FONT_M;
    }

    &:before {
      width: 100px;
      left: 29px;
    }

    &:after {
      left: 0;
    }
  }
}

.coverImage {
  width: 120px;
  height: 37.5px;
  object-fit: cover;
  opacity: 0.6;
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 1;
  }

  @include responsive.after(ML) {
    width: 160px;
    height: 50px;
  }
}

.sideIcon {
  width: 25px;
  height: 50px;
  display: grid;
  grid-template-rows: repeat(2, 20px);
  gap: 10px;
  margin-left: 10px;

  a {
    display: block;
    width: 20px;
    height: 20px;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: colors.$GRAY9;
    transition: fill 0.2s ease-in;

    &:hover {
      fill: colors.$GRAY6;
    }
  }
}
