@use '@/styles/constants/colors';

.link {
  border: 1px solid colors.$GRAYA;
  width: fit-content;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: colors.$GRAYE;
  }
}
