@import '@/pages/secret/styles/constants';

.secretPageBackgroundWrapper {
  background-color: $BG_BLACK;
  position: relative;
}

.secretPageBackgroundInner {
  position: absolute;
  display: 'flex';
}

.secretPageBackgroundImage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
