@import '@/pages/secret/styles/constants';

.secretPageBackgroundWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  & > img {
    position: absolute;
    z-index: $LEVEL_BACKGROUND;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    box-shadow: inherit 0 0 10px 10px $BOX_SHADOW;
  }
}

.groupIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 220px;
  height: 220px;
  fill: $GROUP_ICON;
  z-index: $LEVEL_GROUP_IMAGE;
}

.characterImage {
  z-index: $LEVEL_CHAR_IMAGE;
}
