$BG_BLACK: #141414;
$BG_UI: #313131;
$BG_UI_DIMMED: #1e1e1e99;

$BUTTON_ICON: #d8d8d8;
$BUTTON_ICON_DIMMED: #717171;
$BUTTON_ICON_INNER: #2f2f2f;

$BOX_SHADOW: #00000060;
$GROUP_ICON: #00000033;

$LEVEL_BACKGROUND: 1;
$LEVEL_CHAR_IMAGE: 3;
$LEVEL_GROUP_IMAGE: 2;
$LEVEL_UI: 4;
