@use '@/styles/constants/colors';
@use '@/styles/constants/sizes';
@use '@/styles/responsive';

.tabListWrapper {
  border-top: 1px solid colors.$GRAYA;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  span {
    font-size: sizes.$FONT_L;
    color: colors.$GRAY3;
    transition: color 0.2s ease-in;
  }

  @include responsive.after(ML) {
    justify-content: flex-start;
  }
}
